.pictures{
    width:99%;
    height: 18%;
    position: absolute;
    top:81%;
}
.pictures a{
    color: #00c;
    text-decoration: underline;
    outline: 0;
    cursor: pointer;
}
.pictures .r_arrow,
.pictures .l_arrow{
    float: left;
    width: 30px;
    text-align: center;
}
.pictures .left-arrow,
.pictures .right-arrow{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -95px -79px;
    margin-top: 70px;
    color:#adb8c0;
}
.pictures .left-arrow:hover,
.pictures .right-arrow:hover{
    color:#23aeff;
}
.pictures .picture-container{
    width: 95%;
    height: 160px;
    float: left;
    overflow: hidden;
    position: relative;
}
.pictures .picture-container .picture-wraper{
    position: absolute;
    z-index: 1;
    left: 0px;
}
.pictures .picture-container .picture-wraper .picture-item{
    width: 198px;
    height: 158px;
    left: 0px;
    float: left;
    border: 2px #252525 solid;
    margin-right: 5px;
    font-size: 0;
    position: relative;
}
.picture-selected{
    border:2px solid #23aeff !important;
}
.pictures .picture-container .picture-wraper .picture-item:hover{
    border:2px solid #23aeff;
}
.pictures .picture-container .picture-wraper .picture-item .picture-item-wraper{
    left: 0;
    top: 0;
    z-index: 4;
    zoom: 1;
    cursor: pointer;
    height: 108px;
}
.pictures .picture-container .picture-wraper .picture-item .picture-item-wraper img{
    width: 198px;
    height: 158px;
    cursor: pointer;
    border: 0;
}
